#header {
  background: linear-gradient(135deg, hsl(56, 83%, 60%), hsl(56, 34%, 50%));
}

#sidenav ul li a:hover {
  background-color: hsl(56, 50%, 55%);
}

#content #titulo {
  color: hsl(56, 83%, 60%);
}

#content #characteristics > div {
  background: linear-gradient(135deg, hsl(56, 83%, 60%), hsl(56, 50%, 55%));
}

#content #characteristics > div span {
  color: hsl(56, 83%, 72%);
}

#content #italic {
  color: hsl(56, 50%, 55%);
}

#content #quote,
#content #attributes {
  background: linear-gradient(135deg, hsl(56, 83%, 60%), hsl(56, 50%, 55%));
}

#content #attributes li + li {
  border-top: 0.2rem solid hsl(56, 50%, 55%);
}

#footer {
  background: linear-gradient(135deg, hsl(56, 83%, 60%), hsl(56, 50%, 55%));
}
