* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
}

.grid {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  border: 2px solid lightgray;

  display: grid;
}

.item {
  background-color: tomato;
  margin: .3rem .2rem;

  font-weight: bold;
  color: white;
}

.flowColumns {
  grid-auto-flow: column;
}

.flowColumns2 {
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: 60px 60px;
  grid-auto-columns: 50px;
  grid-auto-flow: column;
}

.flowCondense {
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
}

.item-2 {
  grid-column: span 2;
}

.item-3 {
  grid-column: span 3;
}